<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URL_shortener</title>
  <link rel="stylesheet" href="../assets/main.css">
  <link rel="icon" href="../assets/logo.png">
</head>

<body>
  <div class="container">
    <nav>
      <h1>URL_shortener</h1>
    </nav>

    <div class="content-header">
      <div class="content-header-left">
        <h2>
          More than just
          <br>
          shorter links
        </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Recusandae saepe modi ullam delectus vitae.
          Necessitatibus alias sunt incidunt odio molestias.</p>
      </div>
      <div class="content-header-right">
        <img src="../assets/working.svg" width="500px" alt="">
      </div>
    </div>

    <div class="short-input">
      <form action="/shortUrls" method="POST">
        <input required placeholder="Shorten a link here..." type="url" name="fullUrl" id="fullUrl">
        <button type="submit">Shorten It!</button>
      </form>
    </div>

    <div class="results">
      <div class="results-one">
        <% shortUrls.forEach(shortUrl => { %>
        <p>Full URL</p>
        <a href="<%= shortUrl.full %>"><%= shortUrl.full %></a>
        <% }) %>
      </div>

      <div class="results-two">
        <% shortUrls.forEach(shortUrl => { %>
        <p>Short URL</p>
        <a href="<%= shortUrl.short %>"><%= shortUrl.short %></a>
        <% }) %>
      </div>
    </div>
  </div>
</body>

</html>